.code-page-container {
    display: flex;
}

.code-text-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #fff;
    position: absolute;
    top: 85vh;
    left: 5%;
    float: left;
    flex-direction: row;
}
.cards h1 {
    font-family: 'GAU_pop_magic';
    padding-top: 1vw;
}
.code-title {
    font-family: 'DIGILF';
    font-size: 10vw;
    color: #333;
    z-index: 101;
    font-weight: 100;
    line-height: 0.7;
}

.code-subtitle {
    font-family: 'GAU_pop_magic';
    font-size: 2vw;
    color: #333;
    z-index: 101;
    width: 30%;
    text-align: left;
    transform: rotate(90deg);
    margin-top: 35%;
}

.code-page .footer {
    margin-top: 200%;
}

.card1 {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 20%;
    font-family: 'Arial';
    display: flex;
    justify-content: center;
}
.text1 {
    width: 90%;
    padding-left: 2vw;
    text-align: left;
    padding-top: 1vw;
    line-height: 1.25vw
}

.card2 {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 60%;
    display: flex;
    justify-content: center;
}

.text2 {
    text-align: left;
    padding-left: 1.25vw;
    width: 90%;
    line-height: 1.25vw;
    padding-top: 1vw;
}

.card3 {
    position: absolute;
    z-index: 10;
    top: 190%;
    left: 35%;
    display: flex;
    justify-content: center;
}

.card4 {
    position: absolute;
    z-index: 10;
    top: 175%;
    left: 3%;
    display: flex;
    justify-content: center;
}

.text4 {
    text-align: left;
    padding-left: 1.25vw;
    width: 90%;
    line-height: 1.25vw;
    padding-top: 1vw;
}

.card5 {
    position: absolute;
    z-index: 10;
    top: 180%;
    left: 67%;
    display: flex;
    justify-content: center;
}

.card6 {
    position: absolute;
    z-index: 10;
    top: 265%;
    left: 15%;
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    .code-text-container {
        top: 80vh;
        left: 2%;
        width: 100%;
        font-size: 10vw;
    }
    
    .code-subtitle {
        width: 80%;
        font-size: 3vw;
        transform: rotate(0deg);
        margin-top: 5%;
        margin-left: 15%;
    }

    .code-title {
        font-size: 20vw;
    }
    .code-page .marquee {
        font-size: 11.5vw !important;
    }
}

.code-page .marquee {
    font-family: 'DIGILF';
    font-size: 3.8vw;
}